
.statistics {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.statList {
  list-style-type: none;
  width: 100%;
  height: 50px;
  display: flex;
  color: #fff;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-top: 0;
}

.item {
  display: flex;
  flex-direction: column;
  width: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.title {
  margin-bottom: 0;
  margin-top: 40px;
  padding: 0;
  background-color: #edf2f7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-left: 10px;
  text-transform: uppercase;
}